body {
  font-family: "Segoe UI", sans-serif;
  text-align: center;
  background-color: #f9f9ff;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s color 0.3s
}

.app.light {
  background-color: #f9f9ff;
  color: #333;

}

.app.dark {
  background-color: #121212;
  color: #fff;

}


.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}

.time-input input {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  width: 150px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #637dff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}
button:hover {
  background-color: #4caf50;
}
.theme-picker {
  margin-bottom: 20px;
}
.todo {
  width: 300px;
  margin: 20px auto;
  padding: 10px;
  background-color: #f0f0f0;
  border: 2px solid #4caf50;
  border-radius: 8px;
}
.todo.dark {
  background-color: #333;
}
.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mission-complete h1 {
  color: #4caf50;
}

.todo-container {
  width: 300px;
  margin: 20px auto;
  text-align: center;
  
}

.input-group {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

input[type="text"] {
  padding: 0.5rem;
  flex: 1;
}

button {
  padding: 0.5rem 1rem;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #f0f0f0;
  margin: 0.5rem 0;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
}
li:hover {
  background: #e0e0e0;
}
li.dark {
  background: #444;
}

.timer {
  margin-top: 20px;
  background: #f9f9f9;
  padding: 1rem;
  border-radius: 8px;
}
.timer-graph-container {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.timer-section , graph-section {
  flex: 1;
  min-width: 300px;
  max-width: 400px;
}
.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.auth-container h2 {
  font-size: 24px;
}

.auth-container input {
  margin: 10px 0;
  padding: 8px;
  font-size: 16px;
}

.auth-container button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}